body{
    /* background: #fffff8; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    box-sizing: border-box;
    background-color: rgba(3 95 161 / 78%);
}

#app{
    width: 50%;
    margin: auto;
    border-radius: 4em;
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    /* height:100vh; */
    background: rgba(0,0,0,0.8);
    color: #ffd902;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
width: 50%;
padding: 1em;
margin-top: 2em;
margin: auto;
text-align: center;
height: 3em;
}
.zip{
    text-align: center;
}
#zip{
    border-radius: 2em;
    
}
.entry{
    background: rgba(104, 151, 250, 0.4);
    border-radius: 8px;
    margin:auto;
    margin-top: 5em;
    margin-bottom: 2em;
}
.feel{
    width: 95%;
    text-align: center;
}
textarea{
    margin: 8px;
    width: 60%;
    padding: 7px;
    border-radius: 8px;
    height: 3em;
    background-color: seashell;
    color: slategray;
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    text-align: center;
}

input{
    text-align: center;
    display:block;
    height: 60px;
    width: 320px;
    background:#f5f7f7;
    color: #131210;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 170px;
    height: 50px;
    background: #f85307;
    color: #fcd707;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    /* box-shadow: 2px 4px 5px #444; */
}
#generate{
    cursor: pointer;

}

h1{
    font-size: 36px;
}

textarea{
    background:#f5f7f7;
    color: #131210;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 